#sec-favorities-list{
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    background-size: cover;
}

.centrarimg{
    text-align: center;
}



#contenedorPeliculasFavoritas img{
    
    width: 50%;
    margin-bottom: 10px;
    border-radius: 15px 15px 15px 15px ;
}

.imagen{
    height: 400px;
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}


.boton {
    display: inline-block;
    font-weight: bold; 
    font-size: 11px;
    padding: 11px 45px;
    background-color: #758484;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid #333; 
    cursor: pointer;
}



#contenedorPeliculasFavoritas h3{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.contenedorPeliculasFavoritas p{
    font-size: 12px;
    font-family: 'Gill Sans';/*, 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;*/
    color: #77a79d;
    margin-bottom: 0;
}

#warning{
    background-color: #ffc107;
    border-radius:15px;
    padding: 20px 200px;
}